In [1]:
import pandas as pd
import yfinance as yf

In [2]:
# Get price data from Yahoo! Finance for S&P 500, NASDAQ 100, and RUSSELL 2000
market_data_df = yf.download(
    '^GSPC ^NDX ^RUT'
)

# # rename columns from tickers to descriptive names
market_data_df.rename(
    columns={
        '^NDX': 'NASDAQ 100',
        '^RUT': 'RUSSELL 2000',
        '^GSPC': 'S&P 500', 
    },
    inplace=True
)

market_data_df.drop(['Adj Close', 'Volume'], axis='columns', inplace=True)
# market_data_df.dropna(inplace=True)
market_data_df.columns = market_data_df.columns.swaplevel(0, 1)
market_data_df.sort_index(axis=1, inplace=True)
market_data_df.head()

[*********************100%***********************]  3 of 3 completed

           NASDAQ 100               RUSSELL 2000               S&P 500         \
                Close High Low Open        Close High Low Open   Close   High
Date
1950-01-03        NaN  NaN NaN  NaN          NaN  NaN NaN  NaN   16.66  16.66
1950-01-04        NaN  NaN NaN  NaN          NaN  NaN NaN  NaN   16.85  16.85
1950-01-05        NaN  NaN NaN  NaN          NaN  NaN NaN  NaN   16.93  16.93
1950-01-06        NaN  NaN NaN  NaN          NaN  NaN NaN  NaN   16.98  16.98
1950-01-09        NaN  NaN NaN  NaN          NaN  NaN NaN  NaN   17.08  17.08


              Low   Open
Date
1950-01-03  16.66  16.66
1950-01-04  16.85  16.85
1950-01-05  16.93  16.93
1950-01-06  16.98  16.98
1950-01-09  17.08  17.08

In [3]:
market_data_df.to_csv('data/markets_ohlc.csv')